In [1]:
import pandas as pd

# https://github.com/DataTalksClub/mlops-zoomcamp/blob/main/cohorts/2023/01-intro/homework.md
# https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page
df_yellow_jan22 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-01.parquet")
df_yellow_feb22 = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2022-02.parquet")

In [2]:
df_yellow_jan22.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-01-01 00:35:40,2022-01-01 00:53:29,2.0,3.80,1.0,N,142,236,1,14.5,3.0,0.5,3.65,0.0,0.3,21.95,2.5,0.0
1,1,2022-01-01 00:33:43,2022-01-01 00:42:07,1.0,2.10,1.0,N,236,42,1,8.0,0.5,0.5,4.00,0.0,0.3,13.30,0.0,0.0
2,2,2022-01-01 00:53:21,2022-01-01 01:02:19,1.0,0.97,1.0,N,166,166,1,7.5,0.5,0.5,1.76,0.0,0.3,10.56,0.0,0.0
3,2,2022-01-01 00:25:21,2022-01-01 00:35:23,1.0,1.09,1.0,N,114,68,2,8.0,0.5,0.5,0.00,0.0,0.3,11.80,2.5,0.0
4,2,2022-01-01 00:36:48,2022-01-01 01:14:20,1.0,4.30,1.0,N,68,163,1,23.5,0.5,0.5,3.00,0.0,0.3,30.30,2.5,0.0

In [3]:
df_yellow_feb22.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2022-02-01 00:06:58,2022-02-01 00:19:24,1.0,5.40,1.0,N,138,252,1,17.0,1.75,0.5,3.90,0.00,0.3,23.45,0.0,1.25
1,1,2022-02-01 00:38:22,2022-02-01 00:55:55,1.0,6.40,1.0,N,138,41,2,21.0,1.75,0.5,0.00,6.55,0.3,30.10,0.0,1.25
2,1,2022-02-01 00:03:20,2022-02-01 00:26:59,1.0,12.50,1.0,N,138,200,2,35.5,1.75,0.5,0.00,6.55,0.3,44.60,0.0,1.25
3,2,2022-02-01 00:08:00,2022-02-01 00:28:05,1.0,9.88,1.0,N,239,200,2,28.0,0.50,0.5,0.00,3.00,0.3,34.80,2.5,0.00
4,2,2022-02-01 00:06:48,2022-02-01 00:33:07,1.0,12.16,1.0,N,138,125,1,35.5,0.50,0.5,8.11,0.00,0.3,48.66,2.5,1.25

In [7]:
print(df_yellow_jan22.shape)
print(df_yellow_feb22.shape)

(2463931, 19)
(2979431, 19)

In [9]:
# Read the data for January. How many columns are there?
len(df_yellow_jan22.columns)

19

In [24]:
# What's the standard deviation of the trips duration in January?
(df_yellow_jan22.tpep_dropoff_datetime - df_yellow_jan22.tpep_pickup_datetime).astype('timedelta64[m]').std().round(2)

46.45

In [34]:
# Next, we need to check the distribution of the duration variable. 
# There are some outliers. Let's remove them and keep only the records
# where the duration was between 1 and 60 minutes (inclusive).
# What fraction of the records left after you dropped the outliers?
df_yellow_jan22["trip_duration_minutes"] = (df_yellow_jan22.tpep_dropoff_datetime - df_yellow_jan22.tpep_pickup_datetime).astype('timedelta64[m]')
len(df_yellow_jan22["trip_duration_minutes"][(df_yellow_jan22["trip_duration_minutes"]>=1) & (df_yellow_jan22["trip_duration_minutes"]<=60)]) / len(df_yellow_jan22)

0.9835198307095451

In [60]:
from sklearn.feature_extraction import DictVectorizer

# Q4. One-hot encoding
# Let's apply one-hot encoding to the pickup and dropoff location IDs. 
# We'll use only these two features for our model.
# Turn the dataframe into a list of dictionaries
# Fit a dictionary vectorizer
# Get a feature matrix from it
# What's the dimensionality of this matrix (number of columns)?